.login {
  width: 100vw;
  height: 100vh;
  background-color: #f0f2f5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loginwrapper {
  width: 70%;
  height: 70%;
  display: flex;
}
.loginleft,
.loginright {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.loginlogo {
  font-size: 50px;
  font-weight: 500;
  color: #1775ee;
  margin-bottom: 10px;
}
.LoginDesc {
  font-size: 24px;
}
.loginBox {
  height: 400px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.logininput {
  height: 50px;
  border-radius: 10px;
  border: 1px solid gray;
  font-size: 18px;
  padding-left: 20px;
}
.logininput:focus{
    outline: none;
}
.loginbutton {
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: blue;
    color: white;
    font-size: 20px;
    font-weight: 500px;
    cursor: pointer;
}
.forgetPassword{
    text-align: center;
    color: blue;
}
.registrationbutton{
    width: 60%;
    align-self: center;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: #42b72a;
    color: white;
    font-size: 20px;
    font-weight: 500px;
    cursor: pointer;
}

