.rightbaronline{
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: limegreen;
    position: absolute;
    top: -2px;
    right: 0;
    border: 2px solid white ;
    }
    .rightBarUserName{
    font-weight: 500;
    }