.share{
    width: 98%;
    margin-left: 10px;
    justify-content: center;
    height: 170px;
    border-radius: 10px;
    -webkit-box-shadow: -1px 10px 16px 2px rgba(0,0,0,0.5);
-moz-box-shadow: -1px 10px 16px 2px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.68);
}
.shareProfileImg{
    width: 44px;
    height: 44px;
    border-radius: 50px;
}
.shareWrapper{
    padding: 20px;
}